
<!-- == GLOBAL TOPNAV/BANNER == -->
<a href="#content" class="sr-only">Skip to main content</a>

<div class="logo-wrapper">
    <div class="container">

        <div class="pull-left">
            <a href="/"><img src="/client/img/head-sd-logo.gif" class="img-responsive"></a>
        </div>

        <div class="pull-right">
            <form action="" class="form form-inline form-search">
            <input type="text" placeholder="Search solardecathlon.gov" class="form-control">
            <input type="submit" class="btn btn-primary" value="Search">
            </form>

            <ul class="list-social">
            <li><a href="https://www.facebook.com/DOESolarDecathlon"><img src="/client/img/icon-facebook-20x20.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/solar_decathlon/"><img src="/client/img/icon-twitter-20x20.png" alt="Twitter"></a></li>
            <li><a href="https://www.flickr.com/photos/solar_decathlon/"><img src="/client/img/icon-flickr-20x20.png" alt="Flickr"></a></li>
            <li><a href="https://instagram.com/doesolardecathlon/"><img src="/client/img/icon-instagram-20x20.png" alt="Instagram"></a></li>
            <li><a href="https://www.pinterest.com/energy/solar-decathlon/"><img src="/client/img/icon-pinterest-20x20.png" alt="Pinterest"></a></li>
            <li><a href="https://www.youtube.com/user/DOESolarDecathlon/"><img src="/client/img/icon-youtube-20x20.png" alt="YouTube"></a></li>
            <li><a href="https://plus.google.com/+DOESolarDecathlon/posts"><img src="/client/img/icon-googleplus-20x20.png" alt="Google+"></a></li>
            </ul>
        </div>
    </div>
</div>



<!-- == TOP NAVIGATION == -->
<div class="navbar-wrapper navbar-global topnav">
    <div class="navbar" role="navigation">
        <div class="container">

            <ul class="nav navbar-nav">

                <li data-topnav="about"
                    class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">About <i class="fa fa-home"></i></a></li>
                        <li><a href="#">Apply</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </li>

                <li data-topnav="education"><a href="#">Education</a></li>

                <li data-topnav="history"
                    class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">History <i class="fa fa-home"></i></a></li>
                        <li><a href="#">Solar Decathlon 2015</a></li>
                        <li><a href="#">Solar Decathlon 2013</a></li>
                        <li><a href="#">Solar Decathlon 2011</a></li>
                        <li><a href="#">Solar Decathlon 2009</a></li>
                        <li><a href="#">Solar Decathlon 2007</a></li>
                        <li><a href="#">Solar Decathlon 2005</a></li>
                        <li><a href="#">Solar Decathlon 2002</a></li>
                        <li><a href="#">Where Are the Houses Now?</a></li>
                        <li><a href="#">House Tours</a></li>
                    </ul>
                </li>

                <li data-topnav="international"
                    class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">International <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Solar Decathlon China</a></li>
                        <li><a href="#">Solar Decathlon Europe</a></li>
                        <li><a href="#">Solar Decathlon Latin America and Caribbean</a></li>
                        <li><a href="#">Solar Decathlon Middle East</a></li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</div>
<!-- == END GLOBAL TOPNAV/BANNER == -->
