
<!-- == GLOBAL FOOTER == -->
<footer id="footer" class="wrapper-footer">

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">
                <a href="http://www.energy.gov"><img src="/client/img/doe-logo.png" alt="U.S. Department of Energy" class="img-responsive logo"></a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <ul class="list-inline small">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contacts.html">Webmaster</a></li>
                    <li><a href="http://www.eere.energy.gov/webpolicies/">Web Policies</a></li>
                    <li><a href="http://www.eere.energy.gov/site_administration/privacy.html">Security &amp; Privacy</a></li>
                    <li><a href="http://www.usa.gov/">USA.gov</a></li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="footer-sponsors-global">
                <div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">
                    <a href="http://www.nrel.gov"><img src="/client/img/nrel-logo.png" alt="NREL" class="img-responsive logo"></a>
                </div>
            </div>

            <div class="footer-sponsors-2015 hide">

                <div class="row">
                    <div class="col-sm-2 col-sm-offset-2">
                        <img src="/client/img/nrel-logo.png" alt="NREL" class="img-responsive logo">
                    </div>
                    <div class="col-sm-2">
                        <img src="/2015/assets/images/sponsor-footer-edison.png" alt="Edison International" class="img-responsive logo">
                    </div>
                    <div class="col-sm-2">
                        <img src="/2015/assets/images/sponsor-footer-schneider.png" alt="Schneider Electric" class="img-responsive logo">
                    </div>
                    <div class="col-sm-1">
                        <img src="/2015/assets/images/sponsor-footer-wells-fargo.png" alt="Wells Fargo" class="img-responsive logo ">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="small">NREL is a national laboratory of the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, operated by the Alliance for Sustainable Energy, LLC.</p>
            </div>
        </div>
    </div>
</footer>
<!-- == END GLOBAL FOOTER == -->
