
<!-- == GLOBAL SCRIPTS == -->

<!-- Bootstrap -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!--
<script src="/client/js/iconomatic/jquery.iconomatic.min.js"></script>
<script src="/client/js/jflickrrest/jquery.jflickrrest.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/jquery.flexslider.min.js"></script>
-->

<!-- All global plugins -->
<!--
    Icons plugin
    Flickr plugin
    RSS plugin
    Slider/Carousel Plugin
-->
<script src="client/js/plugins.min.js"></script>



<!-- App Init -->
<script src="/client/js/app.js"></script>

<!-- == END GLOBAL SCRIPTS == -->
