<!--stopindex-->
<!-- NB link to fully qualified path e.g. /foo/bar/baz.html -->
<div class="col-sm-3 col-sm-pull-9">
    <nav class="sidenav" role="navigation">

        <ul class="nav hide">
            <li><a href="/_template-global-page.html">About</a>
                <ul class="nav hide">
                <li><a href="#">About</a></li>
                <li><a href="#">Apply</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Contacts</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">Education</a></li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">History</a>
                <ul class="nav hide">
                <li><a href="#">History</a></li>
                <li><a href="#">Solar Decathlon 2015</a></li>
                <li><a href="#">Solar Decathlon 2013</a></li>
                <li><a href="#">Solar Decathlon 2011</a></li>
                <li><a href="#">Solar Decathlon 2009</a></li>
                <li><a href="#">Solar Decathlon 2007</a></li>
                <li><a href="#">Solar Decathlon 2005</a></li>
                <li><a href="#">Solar Decathlon 2002</a></li>
                <li><a href="#">Where Are the Houses Now?</a></li>
                <li><a href="#">House Tours</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">International</a>
                <ul class="nav hide">
                <li><a href="#">International</a></li>
                <li><a href="#">Solar Decathlon China</a></li>
                <li><a href="#">Solar Decathlon Europe</a></li>
                <li><a href="#">Solar Decathlon Latin America and Caribbean</a></li>
                <li><a href="#">Solar Decathlon Middle East</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
<!--startindex-->
