<!--stopindex-->
<!-- NB link to fully qualified path e.g. /foo/bar/baz.html -->
<div class="col-sm-3 col-sm-pull-9">
    <nav class="sidenav" role="navigation">

        <ul class="nav hide">
            <li><a href="/about.html">About</a>
                <ul class="nav hide">
                <li><a href="/about-apply.html">Apply</a></li>
                <li><a href="/about-faqs.html">FAQs</a></li>
                <li><a href="/about-contacts.html">Contacts</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="/education.html">Education</a>
                <!--
                <ul class="nav hide">
                <li></li>
                </ul>
                -->
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="/past.html">History</a>
                <ul class="nav hide">
                <li><a href="/past/2013/">Solar Decathlon 2013</a></li>
                <li><a href="/past/2011/">Solar Decathlon 2011</a></li>
                <li><a href="/past/2009/">Solar Decathlon 2009</a></li>
                <li><a href="/past/2007/">Solar Decathlon 2007</a></li>
                <li><a href="/past/2005/">Solar Decathlon 2005</a></li>
                <li><a href="/past/2002/">Solar Decathlon 2002</a></li>
                <li><a href="/past-where-now.html">Where Are the Houses Now?</a></li>
                <li><a href="/past-house-tours.html">House Tours</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="/international.html">International</a>
                <ul class="nav hide">
                <li><a href="/international-china.html">Solar Decathlon China</a></li>
                <li><a href="/international-europe.html">Solar Decathlon Europe</a></li>
                <li><a href="/international-latin-america.html">Solar Decathlon Latin America and Caribbean</a></li>
                <li><a href="/international-middle-east.html">Solar Decathlon Middle East</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
<!--startindex-->
