<!--stopindex-->
<!-- NB link to fully qualified path e.g. /foo/bar/baz.html -->
<div class="col-sm-3 col-sm-pull-9">
    <nav class="sidenav" role="navigation">

        <ul class="nav hide">
            <li><a href="/_template-global-page.html">About</a>
                <ul class="nav hide">
                <li><a href="#">About Link 1</a></li>
                <li><a href="#">About Link 2</a></li>
                <li><a href="#">About Link 3</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">Education</a>
                <ul class="nav hide">
                <li><a href="#">Education Link 1</a></li>
                <li><a href="#">Education Link 2</a></li>
                <li><a href="#">Education Link 3</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">History</a>
                <ul class="nav hide">
                <li><a href="#">History Link 1</a></li>
                <li><a href="#">History Link 2</a></li>
                <li><a href="#">History Link 3</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav hide">
            <li><a href="#">International</a>
                <ul class="nav hide">
                <li><a href="#">International Link 1</a></li>
                <li><a href="#">International Link 2</a></li>
                <li><a href="#">International Link 3</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
<!--startindex-->
