<a href="#content" class="sr-only">Skip to main content</a>

<div class="logo-wrapper">
    <div class="container">

        <div class="pull-left">
            <a href="/"><img src="/client/img/head_sd_logo.gif" class="img-responsive"></a>
        </div>

        <div class="pull-right">
            <form action="" class="form form-inline form-search">
            <input type="text" placeholder="Search solardecathlon.gov" class="form-control">
            <input type="submit" class="btn btn-primary" value="Search">
            </form>

            <ul class="list-social">
            <li><a href="https://www.facebook.com/DOESolarDecathlon"><img src="/client/img/icon-facebook-20x20.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com/solar_decathlon/"><img src="/client/img/icon-twitter-20x20.png" alt="Twitter"></a></li>
            <li><a href="https://www.flickr.com/photos/solar_decathlon/"><img src="/client/img/icon-flickr-20x20.png" alt="Flickr"></a></li>
            <li><a href="https://instagram.com/doesolardecathlon/"><img src="/client/img/icon-instagram-20x20.png" alt="Instagram"></a></li>
            <li><a href="https://www.pinterest.com/energy/solar-decathlon/"><img src="/client/img/icon-pinterest-20x20.png" alt="Pinterest"></a></li>
            <li><a href="https://www.youtube.com/user/DOESolarDecathlon/"><img src="/client/img/icon-youtube-20x20.png" alt="YouTube"></a></li>
            <li><a href="https://plus.google.com/+DOESolarDecathlon/posts"><img src="/client/img/icon-googleplus-20x20.png" alt="Google+"></a></li>
            </ul>
        </div>
    </div>
</div>






<!-- == TOP NAVIGATION == -->
<div class="navbar-wrapper navbar-global" id="topnav">
    <div class="navbar" role="navigation">
        <div class="container">

            <ul class="nav navbar-nav">

                <li class="dropdown" data-topnav="about"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/about/">About <i class="fa fa-home"></i></a></li>
                        <li><a href="/research/">Link</a></li>
                        <li><a href="/research/">Link</a></li>

                    </ul>
                </li>

                <li class="dropdown" data-topnav="research"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Education <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/research/">Education <i class="fa fa-home"></i></a></li>
                        <li><a href="/research/">Link</a></li>
                        <li><a href="/research/">Link</a></li>
                    </ul>
                </li>

                <li class="dropdown" data-topnav="workingwithus"><a href="#" class="dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/workingwithus/">History <i class="fa fa-home"></i></a></li>
                        <li><a href="/research/">Link</a></li>
                        <li><a href="/research/">Link</a></li>

                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">International <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/careers/">International <i class="fa fa-home"></i></a></li>
                        <li><a href="/research/">Link</a></li>
                        <li><a href="/research/">Link</a></li>

                    </ul>
                </li>

            </ul>

      </div>
    </div>
</div>
<!-- == END TOP NAVIGATION == -->

