
<!-- CAROUSEL -->
<div id="carousel"
     class="carousel slide clearfix"
     data-ride="carousel"
     data-interval="false">

    <div class="col-sm-9 col-slides">
        <div class="carousel-inner">
            <div class="item active">
                <a href="/2015/competition-teams.html">
                    <img
                        src="assets/images/feature-teams.jpg"
                        class="img-responsive"
                        alt="Photo of a large group of students cheering beneath a hot air balloon and holding a sign that says U.S. Department of Energy Solar Decathlon.">
                    <div class="carousel-caption clearfix">
                        <!-- <p class="headline">___TITLE___</p> -->
                        <p class="subhead">Meet the teams who will compete in the U.S. Department of Energy Solar Decathlon 2015! <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/2015/visit.html">
                    <img
                        src="assets/images/feature-sunrise.jpg"
                        class="img-responsive"
                        alt="Photo of students in construction gear walking under a rising sun.">
                    <div class="carousel-caption">
                        <!-- <p class="headline">___TITLE___</p> -->
                        <p class="subhead">Attend the U.S. Department of Energy Solar Decathlon Oct. 8–11 and 15–18, 2015. <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="/2015/volunteers.html">
                    <img
                        src="assets/images/feature-volunteer.jpg"
                        class="img-responsive"
                        alt="Photo of students celebrating.">
                    <div class="carousel-caption">
                        <!-- <p class="headline">___TITLE___</p> -->
                        <p class="subhead">Be a part of the excitement. Volunteer for Solar Decathlon 2015 today! <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- CAROUSEL THUMBS -->
    <div class="col-sm-3 col-thumbs hidden-xs">
        <div class="carousel-indicators">
            <a class="fogbox active">
                <div>
                    <img src="assets/images/feature-teams.jpg"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="0">

                    <div class="overlay"></div>
                </div>
            </a>
            <a class="fogbox">
                <div>
                    <img src="assets/images/feature-sunrise.jpg"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="1">

                    <div class="overlay"></div>
                </div>
            </a>
            <a class="fogbox">
                <div>
                    <img src="assets/images/feature-volunteer.jpg"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="2">

                    <div class="overlay"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- END CAROUSEL THUMBS -->

    <!-- CAROUSEL CONTROLS -->
    <div class="carousel-controls visible-xs clearfix">

        <div class="carousel-previous">
            <a href="#carousel" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
                <div>Previous<br>Story</div>
            </a>
        </div>

        <div class="carousel-next">
            <a href="#carousel" data-slide="next">
                <div>Next<br>Story</div>
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

    </div>
    <!-- END CAROUSEL CONTROLS -->

</div>
<!-- END CAROUSEL -->






