
<!-- CAROUSEL -->
<div id="carousel"
     class="carousel slide"
     data-ride="carousel"
     data-interval="false">

    <div class="col-sm-6 col-slides">
        <div class="carousel-inner">
            <div class="item active">
                <a href="#">
                    <img
                        src="http://placehold.it/570x320"
                        class="img-responsive"
                        alt="">
                    <div class="carousel-caption clearfix">
                        <p class="headline">___TITLE___</p>
                        <p class="subhead">___TEASER___ <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img
                        src="//placehold.it/570x320/ff0000/00ff00"
                        class="img-responsive"
                        alt="">
                    <div class="carousel-caption">
                        <p class="headline">___TITLE___</p>
                        <p class="subhead">___TEASER___ <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img
                        src="//placehold.it/570x320"
                        class="img-responsive"
                        alt="">
                    <div class="carousel-caption">
                        <p class="headline">___TITLE___</p>
                        <p class="subhead">___TEASER___ <i class="fa fa-caret-right"></i></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- CAROUSEL THUMBS -->
    <div class="col-sm-2 col-thumbs hidden-xs">
        <div class="carousel-indicators">
            <a class="fogbox active">
                <div>
                    <img src="//placehold.it/180x107"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="0">

                    <div class="overlay"></div>
                </div>
            </a>
            <a class="fogbox">
                <div>
                    <img src="//placehold.it/180x107"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="1">

                    <div class="overlay"></div>
                </div>
            </a>
            <a class="fogbox">
                <div>
                    <img src="//placehold.it/180x107"
                        class="img-responsive"
                        alt=""
                        data-target="#carousel"
                        data-slide-to="2">

                    <div class="overlay"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- END CAROUSEL THUMBS -->



    <!-- CAROUSEL CONTROLS -->
    <div class="carousel-controls visible-xs clearfix">

        <div class="carousel-previous">
            <a href="#carousel" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
                <div>Previous<br>Story</div>
            </a>
        </div>

        <div class="carousel-next">
            <a href="#carousel" data-slide="next">
                <div>Next<br>Story</div>
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>

    </div>
    <!-- END CAROUSEL CONTROLS -->

</div>
