
<!--stopindex-->
<div class="col-sm-3 col-sm-pull-9">
    <nav class="sidenav" role="navigation">

        <!-- VISIT -->
        <ul class="nav hide">
            <li><a href="#">Dates &amp; Hours</a></li>
            <li><a href="#">Things To Do</a></li>
            <li><a href="#">Village Map</a></li>
            <li><a href="#">Directions &amp; Transportation</a></li>
        </ul>


        <!-- COMPETITION -->
        <ul class="nav hide">
            <li><a href="#">Scores &amp; Standings</a>
                <ul class="nav hide">
                <li><a href="#">Final Results</a></li>
                <li><a href="#">Overall Standings</a></li>
                <li><a href="#">Scores by Team</a></li>
                <li><a href="#">Scores by Contest</a></li>
                <li><a href="#">Scores by Day</a></li>
                </ul>
            </li>

            <li><a href="/teams.html">Teams</a>
                <ul class="nav hide">
                <li><a href="#">Team Contacts</a></li>
                <li><a href="/_template-team.html">Cal Poly</a></li>
                <li><a href="#">Clemson</a></li>
                <li><a href="#">Crowder/Drury</a></li>
                <li><a href="#">Florida/Singapore</a></li>
                <li><a href="#">Mass/Central America</a></li>
                <li><a href="#">Missouri S&amp;T</a></li>
                <li><a href="#">NY City Tech</a></li>
                <li><a href="#">Sacramento State</a></li>
                <li><a href="#">Stevens</a></li>
                <li><a href="#">Team NY Alfred</a></li>
                <li><a href="#">Team Orange County</a></li>
                <li><a href="#">Team Tennessee</a></li>
                <li><a href="#">Texas/Germany</a></li>
                <li><a href="#">U at Buffalo</a></li>
                <li><a href="#">UC Davis</a></li>
                <li><a href="#">West Virginia/Rome</a></li>
                <li><a href="#">Yale</a></li>
                </ul>
            </li>

            <li><a href="#">Contests</a>
                <ul class="nav hide">
                <li><a href="#">Architecture</a></li>
                <li><a href="#">Market Appeal</a></li>
                <li><a href="#">Engineering</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Affordability</a></li>
                <li><a href="#">Comfort Zone</a></li>
                <li><a href="#">Appliances</a></li>
                <li><a href="#">Home Life</a></li>
                <li><a href="#">Commuting</a></li>
                <li><a href="#">Energy Balance</a></li>
                </ul>
            </li>

            <li><a href="#">Village Energy Balance</a></li>
            <li><a href="#">Rules</a></li>
            <li><a href="#">Juries</a></li>
        </ul>

        <!-- NEWS -->
        <ul class="nav hide">
            <li><a href="#">News Blog</a></li>
            <li><a href="#">Newsletter</a></li>
            <li><a href="#">In the News</a></li>
            <li><a href="#">Press Room</a></li>
        </ul>

        <!-- PHOTOS -->
        <ul class="nav hide">
            <li><a href="#">Daily Photos</a></li>
            <li><a href="#">Gallery of Houses</a></li>
            <li><a href="#">Village Time-Lapse</a></li>
        </ul>

        <!-- VIDEOS -->
        <ul class="nav hide">
            <li><a href="#">Competition &amp; Event</a></li>
            <li><a href="#">Team-Produced Videos</a></li>
        </ul>

        <!-- SPONSORS -->
        <ul class="nav hide">
            <li><a href="#">Sustaining</a></li>
            <li><a href="#">Supporting</a></li>
            <li><a href="#">Contributing</a></li>
            <li><a href="#">Resource</a></li>
        </ul>

        <!-- VOLUNTEERS -->
        <ul class="nav hide">
            <li><a href="#">Roles</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">Training</a></li>
        </ul>

    </nav>
</div>
<!--startindex-->

