<!--stopindex-->
<!-- NB link to fully qualified path e.g. /foo/bar/baz.html -->
<div class="col-sm-3 col-sm-pull-9">
    <nav class="sidenav" role="navigation">

        <ul class="nav hide">
        <li><a href="/commstandards/">Home</a>
            <ul class="nav hide">
            <li><a class="current" href="/commstandards/branding-guidelines.html">Branding</a></li>
            <li><a href="/commstandards/event-logos.html">Logos</a></li>
            <li><a href="/commstandards/photo-sources.html">Photos</a></li>
            <li><a href="/commstandards/templates.html">Templates</a></li>
            <li><a href="/commstandards/outreach-materials.html">Outreach Materials</a></li>
            <li><a href="/commstandards/style-guide.html">Style Guide</a></li>
            <li><a href="/commstandards/web-standards.html">Web Standards</a></li>
            <li><a href="/commstandards/contact.html">Contact</a></li>
            </ul></li>
        </ul>

    </nav>
</div>
<!--startindex-->
